{% extends 'bootstrap/base.html' %}

{% block title %}
{% if title %}{{ title }} - Microblog{% else %}Welcome to SchoolAPI{% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
            </button>
<!--            <a class="navbar-brand" href="{{ url_for('main_rout.index') }}">SchoolAPI</a>-->
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
<!--                <li><a href="{{ url_for('main_rout.index') }}">Home</a></li>-->
<!--                <li><a href="{{ url_for('main_rout.teachers') }}">Teachers</a></li>-->
<!--                <li><a href="{{ url_for('main_rout.classes') }}">Classes</a></li>-->
<!--                <li><a href="{{ url_for('main_rout.students') }}">Students</a></li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </div>
</nav>
{% endblock %}


{% block content %}
<div class="container">

<!--    <div class="alert alert-info" role="alert">{{ }}</div>-->

    {% block app_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{% endblock %}